pending-logs{
  
  .menu-left{
    position: absolute;
    left: 0.3rem;
  }
  .logout-btn {
    right: 0.3rem;
  }
  .title-center {
    text-align: center;
  }
  .supplied {
    color: green;
  }

  .back-button-icon-md, .back-button-icon-ios  {
    display: none;
  }

  ion-content {
    background-image: url('../assets/imgs/auth-bg.jpg');
    -webkit-background-image: url('../assets/imgs/auth-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
